<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonitor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8006/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMonitor" contract="ServiceReference1.IMonitor"
                name="BasicHttpBinding_IMonitor" />
        </client>
    </system.serviceModel>
</configuration>